@font-face {
    /*You can name the font family anything you want and then src url just is you
    linking where the file is located */
    font-family: PopLight;
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
    /*You can name the font family anything you want and then src url just is you
    linking where the file is located */
    font-family: PopRegular;
    src: url('../fonts/Poppins-Regular.ttf');

}
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    background: rgb(194,174,238);
    background: radial-gradient(circle, rgba(194,174,238,1) 0%, rgba(148,187,233,1) 100%);
    z-index: 999; /* set z-index to a high value to make sure the header is always on top */
  }
  header h2 {
      /* TEMP holder until i can figure out how to add the logo or find the right size for the logo */
      font-family: PopLight;
      font-size:15px;
      color:#EDEFFE;
  }
  .logo-top{
      max-width: 100%;
      
  }
  .button-container{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px; /* adjust as needed */
  }
  
  
  .urgentbutton{
      margin-left: auto;
      margin-right: 10px; /* adjust as needed */
      padding: 6px 20px; 
      box-shadow:inset 0px 1px 0px 0px #f7c5c0;
      background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
      background-color:#fc8d83;
      border-radius:6px;
      border:1px solid #d83526;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family: PopLight;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #b23e35; 
  }
  .urgentbutton:hover{
      background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
      background-color:#e4685d;
  }
  .urgentbutton:active{
      position:relative;
      top: 1px;
  }
  .donationbutton{
      box-shadow:inset 0px 1px 0px 0px #efdcfb;
      background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
      background-color:#dfbdfa;
      border-radius:6px;
      border:1px solid #c584f3;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:PopLight;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #9752cc;
  }
  
  .donationbutton:hover{
      background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
      background-color:#bc80ea;
  }
  .donationbutton:active{
      position:relative;
      top:1px;
  }